@media screen and (max-width: 512px) {
    header div.header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.3rem;
        width: 100%;
    }
    div.header-container p.city-title {
        margin: -20px auto 0 auto;
    }
    .menu-toggle::before {
        content: '\2630';
    }
    .menu-toggle {
        color: #fff;
        width: 100vw;
        font-size: 2rem;
        padding: 0 4vw;
        border: none;
        cursor: pointer;
    }
    div.header-container nav ul.menu {
        display: none;
        padding: 0;
    }
    div.header-container nav ul.menu li {
        display: block;
        margin-bottom: 20px;
    }
    .menu-toggle.open::before {
        content: 'X';
    }
    div.header-container nav ul.menu.open {
        display: block;
        border: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;
        margin-right: 95vw;
        width: 100%;
    }
    section, article, footer {
        width: 100%; 
    }
    main.form-inputs {
        flex-direction: column;
    }
    main.sections {
        display: block; 
        margin: 10px; 
    }
    main > section {
        width: 100%;
        margin-bottom: 10px;
    }
    div.grid-container {
        display: block;
        width: 100%;
    }
    .discover-images img {
        width: 100%;
    }
    div.events {
        flex-direction: column;
        align-items: center;
    }
    div.events img {
        margin: 10px 0;
    }
    div#weather-ads {
        display: block;
        width: 100%;
    }
    div.weather-card {
        margin: 10px;
    }
    div.ad-card {
        margin: 10px;
    }
    div.ad-card img.image {
        margin: 0 0 0 4px;
    }
    .thankyou-container {
        max-width: 300px;
    }
    div#membership-benefits {
        display: flex;
        flex-direction: column;
    }
}