* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
}

a img {
    border-radius: 50%;
    filter: brightness(1.1);
    width: 75px;
    margin: 20px;
}
.city-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    margin-top: 50px;
}
header div.header-container {
    display: flex;
    background-color: #32322f;
}
nav {
    padding: 20px;
}
nav ul.menu {
    display: flex;
    gap:  50px;
    list-style: none;
    margin-left: 25vw;
}
.menu li a {
    text-decoration: none;
    font-size: 16pt;
    color: #fff;
    font-weight: bold;
}
.menu li a.member {
    background-color: #2222c1;
    padding: 10px;
    border-radius: 5px;
}
.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 5px;
    border-radius: 5px;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 10px;
}
.menu-directory {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #bed;
    text-align: center;
}
.menu-directory button {
    padding: 1rem;
    font-weight: 700;
}

#members-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}
section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

section img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

section > * {
    margin: 0.1rem;
}

section h3 {
    font-family: "Caveat", cursive;
}

section:nth-child(even) {
    background-color: #bed;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}
.grid article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;
}

.grid section {
    text-align: center;
}

.list {
    display: flex;
    justify-content: space-around;
}
.list section {
    width: 100%;
}
.directory {
    display: flex;
    flex-direction: column;
}
.list img {
    display: none;
}
img {
    height: 75px;
    max-width: 100%;
}
main.form-inputs {
    display: flex;
}
main.form-inputs h2 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}
form  input, select {
    width: 100%;
    margin: 0 auto 20px auto;
    border: solid 1px black;
    border-radius: 5px;
    padding: 10px;
}
textarea {
    width: 100%;
    min-height: 80px;
    border-radius: 5px;
}
small {
    margin-top: -15px;
}
#membership-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    line-height: 1.5;
}
h3 {
    margin-bottom: 10px;
    background-color: #32322f;
    color: #fff;
    text-align: center;
    font-size: 16px;
    letter-spacing: .5px;
    border-radius: 5px 5px 0 0;
    padding: 7px 10px;
}
#membership-benefits p {
    font-weight: bold;
    padding: 5px;
}
#membership-benefits li {
    list-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}
#membership-benefits .paragraph {
    background-color: #32322f;
    color: #fff;
    border-radius: 0 0 5px 5px;
    font-size: x-large;
    text-align: center;
}
#membership-benefits div {
    border: 1px solid  #ddd;
    border-radius: 5px;
}
#membership-benefits #non {
    margin-top: 46px;
}
#membership-benefits #bronze {
    margin-top: 254px;
}
#membership-benefits #silver {
    margin-top: 138px;
}
#membership-benefits #gold {
    margin-top: 28%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding: 20px;
}
.side-bar p {
    padding: 10px;
}
#visits {
    margin: 10px;
    font-weight: bold;
    font-family: italic;
    font-size: 18pt;
}
.discover-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.discover-images img {
    border-radius: 5px;
}
.discover-images img:hover {
    opacity: 0.7;
}
iframe {
    width: 100%;
}
figcaption {
    padding: 10px;
}
section {
    border: 1px solid #32322f;
    border-radius: 5px;
    overflow: hidden;
}
section img.hero-img {
    width: 100%;
    height: 100%;
}
section p, section label, section input {
    padding: 5px;
}
label {
    font-weight: bold;
}
section input {
    width: 70%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid gray;
}
section input:hover {
    border: 1px dotted gray;
}
section textarea {
    width: 70%;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid gray;
}
section textarea:hover {
    border: 1px dotted gray;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    margin: 5px auto;
    padding: 10px;
    background-color: #32322f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14pt;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
main.main-thankyou {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100vw;
}
.thankyou-container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
}
.thankyou-container p {
    line-height: 1.5;
}
h1 {
    color: #47c721;
    margin-top: 0;
}
.submission {
    color: #47c721;
    font-size: 15pt;
    font-weight: bold;
}
.thankyou-img {
    width: 80px;
    height: auto;
    margin-bottom: 20px;
}
h2 {
    background-color: #32322f;
    color: #fff;
    padding: 10px;
    text-align: center;
}
div.events-card {
    width: 100%;
}
div.events img {
    width: auto;
    height: auto;
    margin: 5px;
    border-radius: 5px;
}
div.events {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
p.degrees {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0 0 10px 20px;
}
div.weather-card {
    background: url(../images/cloudy.jpg) no-repeat fixed;
    background-size: cover;
}
div.weather-card .deg {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0 20px;
}
#weather-ads {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ad-card {
    background-color: #32322f;
}
div.ad-card img {
    width: 98%;
    height: 89.5%;
    margin: 0 0 0 7px;
}
footer {
    text-align: center;
    color: #fff;
    background-color: #32322f;
    padding: 10px;
}
footer p {
    margin: 15px;
}
#lastMod {
    color: #bef714;
}