@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
header {
    position: relative;
    background-color: #1D4D72;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#darkMode::before {
    content: '🌙';
}
#darkMode {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 44px;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
}
#darkMode:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 5px 0;
    transition: 0.5s;
}
#darkMode.open::before {
    content: '☀';
}
.hero-images {
    display: grid;
    place-items: center;
    padding: 5px;
    position: relative;
}
.hero-images img {
    width: 90vw;
    height: auto;
    border-radius: 5px;
    display: block;
}
.hero-label {
    position: absolute;
    width: 30%;
    top: 40px;
    left: 15%;
    bottom: auto;
    background: radial-gradient(#fff, #7872de);
    border-radius: 5px;
    border: 1px solid rgba(37, 36, 36, 0.356);
    padding: 20px;
    box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
    text-align: center;
}
.hero-label p {
    font-family: "Great Vibes", serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
main.dark {
    background-color: #333333;
    color: #fff;
}
main.dark h1 {
    color: #fff;
}
main.dark .parent .card {
    box-shadow: 0px 0px 20px 0 rgba(255, 255, 255, 0.2);
}
main.dark ul li a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
header img {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
header span {
    font-size: 25pt;
    font-weight: bold;
}
nav ul {
    display: flex;
    justify-content: space-around;
    background-color: black;
}
nav ul li {
    list-style: none;
    padding: 15px;
    text-align: center;
    flex: 1 1 100%;
}
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 16pt;
}
nav ul .home {
    background-color: #643219;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#myButton {
    display: none;
}
hr {
    width: 80%;
    margin: auto;
}
h1 {
    width: 90%;
    margin: 20px auto;
    border-bottom: 1px solid #989898;
    color: #333333;
}
.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px auto;
    gap: 10px;
    width: 90%;
}
.parent .card {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.5);
}
.parent .card h2 {
    background-color: #1D4D72;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.parent .card li {
    padding: 10px;
    font-weight: bold;
}
.card span {
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    margin-top: 20px;
}
figure {
    margin: 0 auto;
}
figure img {
    margin: 0 0 0 30px;
}
.map {
    text-align: center;
}
.map iframe {
    width: 90%;
    margin: 10px;
    border-radius: 5px;
    height: 400px;
}
footer {
    background-color: #1D4D72;
    padding: 10px;
    text-align: center;
}
footer p {
    color: #fff;
    margin: 5px;
    font-size: 14pt;
}
footer #lastModified {
    color: #F8F716;
}